{
  "STOCK_PRIMARY": "Ethereum / USD",
  "STOCK_FRACTION_DIGITS": 2,
  "STOCK_MULTIPLIER_ABOVE_SELL": 0.20,
  "STOCK_AMOUNT": 1,
  "STOCK_PROFIT": 0.2,

  "STOCK_BUY_UPPER_LIMIT": 0.3,
  "STOCK_BUY_LOWER_LIMIT": 0.2,
  "STOCK_BUY_FILL_WAIT": 0,

  "STOCK_SELL_UPPER_LIMIT": 0.3,
  "STOCK_SELL_LOWER_LIMIT_BREAK_EVEN": 0.2,
  "STOCK_SELL_LOWER_LIMIT_LOSS": 0.4,

  "STOCK_EVALUATE_DELTA_UP": 0.3,
  "STOCK_EVALUATE_DELTA_DOWN": 0.2,

  "STOCK_LOSS_MULTIPLIER": 0.5,

  "FREEFALL_INDICATOR": 0.05,
  "LAG_MAX_ORDER_DELAY": 2000,

  "DEMO_MODE": true,
  "LIVE_ACCOUNT_NUM": 1,

  "DEBUG": false,
  "HEADLESS": false,

  "DISCORD_TOKEN": "ODIwMzM3MzI5ODEzMzIzODQ2.YEzsrA.0Yu3lEYwobBWd0exKV2jUMdPpyA",
  "DISCORD_USERID": "161179658094641153",

  "TWO_FACT_AUTH": false,
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  "USERNAME": "",
  "PASSWORD": ""
}

